pkgbase = fsfrpc
	pkgdesc = Shows your proprietary package count in Discord Rich Presence
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/its-mrarsikk/fsfrpc
	arch = any
	license = GPL
	depends = python
	depends = python-pypresence
	depends = absolutely-proprietary
	source = fsfrpc.py
	sha256sums = 700418c3e4a2cf2262b44d39b8063f320741164658bf4ebc4f47a6e939a0ade2

pkgname = fsfrpc
